<script setup lang="ts">
import { ref } from "vue";
import useComponentSize from "./useComponentSize";

const myImage = ref<HTMLDivElement>();
const { width, height } = useComponentSize(myImage);
</script>

<template>
  <main>
    <div class="resizable-container" ref="myImage">
      Content <br />
      Width: {{ width }}px<br />
      Geight: {{ height }}px
    </div>
  </main>
</template>

<style scoped>
.resizable-container {
  resize: both;
  border: 1px solid red;
  overflow: auto;
  padding: 2rem;
  box-sizing: content-box;
  min-width: 250px;
  min-height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
</style>
